# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
.env
.venv/

# VSCode / PyCharm / IDE
.vscode/
.idea/
*.iml

# Node / frontend
node_modules/
frontend/node_modules/
frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
